In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier  # Importera KNeighborsClassifier
from sklearn.svm import SVC  # Importera Support Vector Machine (SVC)

In [4]:
# Steg 1: Ladda datasetet
data = pd.read_csv('data.csv')

# Kontrollera kolumnnamnen
print("Kolumnnamn i datasetet:", data.columns)

# Steg 2: Utforsk data
print("Första 5 rader i datasetet:")
print(data.head())
print("Information om datasetet:")
print(data.info())
print("Statistisk sammanfattning:")
print(data.describe())

Kolumnnamn i datasetet: Index(['DR_NO', 'Date_Reported', 'Date_occured', 'Time_occured', 'Area',
       'Crime_Code', 'Victim_age', 'Victim_sex', 'Victim_descent', 'Premis',
       'Weapon', 'Status', 'LOCATION', 'LAT', 'LON'],
      dtype='object')
Första 5 rader i datasetet:
       DR_NO           Date_Reported            Date_occured  Time_occured  \
0  190326475           03/01/20 0:00           03/01/20 0:00          2130
1  200106753           02/09/20 0:00           02/08/20 0:00          1800
2  200320258           11/11/20 0:00           11/04/20 0:00          1700
3  200907217           05/10/23 0:00           03/10/20 0:00          2037
4  220614831  08/18/2022 12:00:00 AM  08/17/2020 12:00:00 AM          1200

        Area                                Crime_Code  Victim_age Victim_sex  \
0   Wilshire                          VEHICLE - STOLEN           0          M
1    Central                     BURGLARY FROM VEHICLE          47          M
2  Southwest                             BIKE - STOLEN          19          X
3   Van Nuys  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)          19          M
4  Hollywood                         THEFT OF IDENTITY          28          M

  Victim_descent                                        Premis Weapon  \
0              O                                        STREET    NaN
1              O             BUS STOP/LAYOVER (ALSO QUERY 124)    NaN
2              X  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    NaN
3              O                                CLOTHING STORE    NaN
4              H                                      SIDEWALK    NaN

         Status                                  LOCATION      LAT       LON
0  Adult Arrest   1900 S  LONGWOOD                     AV  34.0375 -118.3506
1   Invest Cont   1000 S  FLOWER                       ST  34.0444 -118.2628
2   Invest Cont   1400 W  37TH                         ST  34.0210 -118.3002
3   Invest Cont  14000    RIVERSIDE                    DR  34.1576 -118.4387
4   Invest Cont                         1900    TRANSIENT  34.0944 -118.3277
Information om datasetet:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974477 entries, 0 to 974476
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           974477 non-null  int64
 1   Date_Reported   974477 non-null  object
 2   Date_occured    974477 non-null  object
 3   Time_occured    974477 non-null  int64
 4   Area            974477 non-null  object
 5   Crime_Code      974477 non-null  object
 6   Victim_age      974477 non-null  int64
 7   Victim_sex      838474 non-null  object
 8   Victim_descent  838464 non-null  object
 9   Premis          973893 non-null  object
 10  Weapon          325782 non-null  object
 11  Status          974477 non-null  object
 12  LOCATION        974477 non-null  object
 13  LAT             974477 non-null  float64
 14  LON             974477 non-null  float64
dtypes: float64(2), int64(3), object(10)
memory usage: 111.5+ MB
None
Statistisk sammanfattning:
              DR_NO   Time_occured     Victim_age            LAT  \
count  9.744770e+05  974477.000000  974477.000000  974477.000000
mean   2.195654e+08    1338.771108      29.168748      33.995066
std    1.285558e+07     651.717033      21.954094       1.643523
min    8.170000e+02       1.000000      -4.000000       0.000000
25%    2.106058e+08     900.000000       0.000000      34.014600
50%    2.208087e+08    1420.000000      30.000000      34.058900
75%    2.309064e+08    1900.000000      44.000000      34.164900
max    2.499253e+08    2359.000000     120.000000      34.334300

                 LON
count  974477.000000
mean     -118.079971
std         5.696584
min      -118.667600
25%      -118.430600
50%      -118.322500
75%      -118.273900
max         0.000000

In [5]:
# Konvertera 'Date_occured' och 'Date_Reported' till datetime-format
data['Date_occured'] = pd.to_datetime(data['Date_occured'], format='%m/%d/%y %H:%M', errors='coerce')
data['Date_Reported'] = pd.to_datetime(data['Date_Reported'], format='%m/%d/%y %H:%M', errors='coerce')

# Kontrollera om det finns NaT-värden efter konvertering
print("Rader med saknade värden i 'Date_occured':")
print(data[data['Date_occured'].isna()])

print("Rader med saknade värden i 'Date_Reported':")
print(data[data['Date_Reported'].isna()])

Rader med saknade värden i 'Date_occured':
            DR_NO Date_Reported Date_occured  Time_occured        Area  \
4       220614831           NaT          NaT          1200   Hollywood
9       211904005           NaT          NaT          1220     Mission
17      210705560           NaT          NaT          1800    Wilshire
21      231907172           NaT          NaT          1200     Mission
26      222106031           NaT          NaT          1300     Topanga
...           ...           ...          ...           ...         ...
974471  242011172           NaT          NaT          2300     Olympic
974472  240710284           NaT          NaT          1400    Wilshire
974473  240104953           NaT          NaT           100     Central
974474  241711348           NaT          NaT           757  Devonshire
974475  240309674           NaT          NaT          1500   Southwest

                                               Crime_Code  Victim_age  \
4                                       THEFT OF IDENTITY          28
9                                BATTERY - SIMPLE ASSAULT          26
17         ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT          31
21      CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 ...          12
26             EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)           0
...                                                   ...         ...
974471  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...          36
974472                                   VEHICLE - STOLEN           0
974473           VANDALISM - MISDEAMEANOR ($399 OR UNDER)           0
974474                                        TRESPASSING           0
974475     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT          70

       Victim_sex Victim_descent  \
4               M              H
9               M              H
17              F              O
21              F              H
26            NaN            NaN
...           ...            ...
974471          F              C
974472        NaN            NaN
974473          X              X
974474          X              X
974475          F              W

                                              Premis  \
4                                           SIDEWALK
9       MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
17                                            STREET
21      MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
26                                    OTHER BUSINESS
...                                              ...
974471                        BAR/COCKTAIL/NIGHTCLUB
974472                                        STREET
974473                                         HOTEL
974474                MTA - ORANGE LINE - CHATSWORTH
974475                                      SIDEWALK

                                                Weapon        Status  \
4                                                  NaN   Invest Cont
9       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)   Invest Cont
17                                             VEHICLE  Adult Arrest
21      STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)   Adult Other
26                                                 NaN   Invest Cont
...                                                ...           ...
974471                                             NaN   Invest Cont
974472                                             NaN   Invest Cont
974473                     UNKNOWN WEAPON/OTHER WEAPON   Invest Cont
974474                                             NaN   Invest Cont
974475                                           STICK   Invest Cont

                                        LOCATION      LAT       LON
4                              1900    TRANSIENT  34.0944 -118.3277
9        9000    CEDROS                       AV  34.2336 -118.4535
17       4500    LOMITA                       ST  34.0452 -118.3351
21       8500    COLUMBUS                     AV  34.2246 -118.4654
26       7700    SAUSALITO                    AV  34.2105 -118.6157
...                                          ...      ...       ...
974471   3700    WILSHIRE                     BL  34.0617 -118.3066
974472   4000 W  23RD                         ST  34.0362 -118.3284
974473   1300 W  SUNSET                       BL  34.0685 -118.2460
974474  10000    OLD DEPOT PLAZA              RD  34.2500 -118.5990
974475           FLOWER                       ST  34.0215 -118.2868

[574870 rows x 15 columns]
Rader med saknade värden i 'Date_Reported':
            DR_NO Date_Reported Date_occured  Time_occured        Area  \
4       220614831           NaT          NaT          1200   Hollywood
5       231808869           NaT   2020-12-01          2300   Southeast
7       220314085           NaT   2020-05-12          1110   Southwest
8       231309864           NaT   2020-12-09          1400      Newton
9       211904005           NaT          NaT          1220     Mission
...           ...           ...          ...           ...         ...
974472  240710284           NaT          NaT          1400    Wilshire
974473  240104953           NaT          NaT           100     Central
974474  241711348           NaT          NaT           757  Devonshire
974475  240309674           NaT          NaT          1500   Southwest
974476  240910892           NaT   2024-08-12          2300    Van Nuys

                                            Crime_Code  Victim_age Victim_sex  \
4                                    THEFT OF IDENTITY          28          M
5                                    THEFT OF IDENTITY          41          M
7                                    THEFT OF IDENTITY          27          F
8                                    THEFT OF IDENTITY          24          F
9                             BATTERY - SIMPLE ASSAULT          26          M
...                                                ...         ...        ...
974472                                VEHICLE - STOLEN           0        NaN
974473        VANDALISM - MISDEAMEANOR ($399 OR UNDER)           0          X
974474                                     TRESPASSING           0          X
974475  ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT          70          F
974476                                VEHICLE - STOLEN           0        NaN

       Victim_descent                                        Premis  \
4                   H                                      SIDEWALK
5                   H                        SINGLE FAMILY DWELLING
7                   B                              CELL PHONE STORE
8                   B                                    CYBERSPACE
9                   H  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
...               ...                                           ...
974472            NaN                                        STREET
974473              X                                         HOTEL
974474              X                MTA - ORANGE LINE - CHATSWORTH
974475              W                                      SIDEWALK
974476            NaN                                   PARKING LOT

                                                Weapon       Status  \
4                                                  NaN  Invest Cont
5                                                  NaN  Invest Cont
7                                                  NaN  Invest Cont
8                                                  NaN  Invest Cont
9       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)  Invest Cont
...                                                ...          ...
974472                                             NaN  Invest Cont
974473                     UNKNOWN WEAPON/OTHER WEAPON  Invest Cont
974474                                             NaN  Invest Cont
974475                                           STICK  Invest Cont
974476                                             NaN  Invest Cont

                                        LOCATION      LAT       LON
4                              1900    TRANSIENT  34.0944 -118.3277
5        9900    COMPTON                      AV  33.9467 -118.2463
7        2500 S  SYCAMORE                     AV  34.0335 -118.3537
8        1300 E  57TH                         ST  33.9911 -118.2521
9        9000    CEDROS                       AV  34.2336 -118.4535
...                                          ...      ...       ...
974472   4000 W  23RD                         ST  34.0362 -118.3284
974473   1300 W  SUNSET                       BL  34.0685 -118.2460
974474  10000    OLD DEPOT PLAZA              RD  34.2500 -118.5990
974475           FLOWER                       ST  34.0215 -118.2868
974476   6900    VESPER                       AV  34.1961 -118.4510

[584681 rows x 15 columns]

In [6]:
# Skapa nya features baserat på 'Date_occured'
data['Year'] = data['Date_occured'].dt.year
data['Month'] = data['Date_occured'].dt.month
data['Day'] = data['Date_occured'].dt.day

# Omvandla 'Time_occured' till tidsformat (om det behövs)
data['Time_occured'] = data['Time_occured'].astype(str).str.zfill(4)  # Lägger till ledande nollor
data['Hour'] = data['Time_occured'].str[:2].astype(int)
data['Minute'] = data['Time_occured'].str[2:].astype(int)

# Visa resultat
print("Transformerat dataset:")
print(data.head())

Transformerat dataset:
       DR_NO Date_Reported Date_occured Time_occured       Area  \
0  190326475    2020-03-01   2020-03-01         2130   Wilshire
1  200106753    2020-02-09   2020-02-08         1800    Central
2  200320258    2020-11-11   2020-11-04         1700  Southwest
3  200907217    2023-05-10   2020-03-10         2037   Van Nuys
4  220614831           NaT          NaT         1200  Hollywood

                                 Crime_Code  Victim_age Victim_sex  \
0                          VEHICLE - STOLEN           0          M
1                     BURGLARY FROM VEHICLE          47          M
2                             BIKE - STOLEN          19          X
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)          19          M
4                         THEFT OF IDENTITY          28          M

  Victim_descent                                        Premis Weapon  \
0              O                                        STREET    NaN
1              O             BUS STOP/LAYOVER (ALSO QUERY 124)    NaN
2              X  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    NaN
3              O                                CLOTHING STORE    NaN
4              H                                      SIDEWALK    NaN

         Status                                  LOCATION      LAT       LON  \
0  Adult Arrest   1900 S  LONGWOOD                     AV  34.0375 -118.3506
1   Invest Cont   1000 S  FLOWER                       ST  34.0444 -118.2628
2   Invest Cont   1400 W  37TH                         ST  34.0210 -118.3002
3   Invest Cont  14000    RIVERSIDE                    DR  34.1576 -118.4387
4   Invest Cont                         1900    TRANSIENT  34.0944 -118.3277

     Year  Month   Day  Hour  Minute
0  2020.0    3.0   1.0    21      30
1  2020.0    2.0   8.0    18       0
2  2020.0   11.0   4.0    17       0
3  2020.0    3.0  10.0    20      37
4     NaN    NaN   NaN    12       0